@inherits BaseDialog

<MudDialog>
	<DialogContent>
		@if (Place is not null)
		{
			<MudCarousel Class="mud-width-full" ItemsSource="@Place.Images" Style="height: 400px;" ShowArrows="true" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="false">
				<PreviousButtonTemplate>
					<div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
						<span class="mud-icon-button-label">
							<MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Inherit"/>
						</span>
					</div>
				</PreviousButtonTemplate>
				<NextButtonTemplate>
					<div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
						<span class="mud-icon-button-label">
							<MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Inherit"/>
						</span>
					</div>
				</NextButtonTemplate>
				<ItemTemplate>
					<MudImage Src="@context" Alt="@Place.Name" Height="400" ObjectFit="ObjectFit.Contain" ObjectPosition="ObjectPosition.Center" Class="rounded-lg"/>
				</ItemTemplate>
			</MudCarousel>
			<MudContainer Class="mt-4" Style="max-height: 300px; overflow-y: scroll">
				<MudText>@Place.Description</MudText>
			</MudContainer>
		}
	</DialogContent>
</MudDialog>