<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
	<link href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" rel="stylesheet" />
	<link href="@Assets["css/site.css"]" rel="stylesheet" />
	<link href="@Assets["WorldExplorer.Web.styles.css"]" rel="stylesheet" />
	<link rel="icon" type="image/png" href="@Assets["favicon.ico"]" />
	<meta name="google-site-verification" content="hRnujBSxcLTvZi8n5TKMTBX4KvIbfA2F-9x40fyuhxk" />
	<meta name="keywords" content="World Explorer, World, Explorer, Travel, Travel Guide, Travel App, Travel Guide App, Travel Guide AI assistant" />
	<meta name="description" content="Explore the globe like never before with World Explorer. Our AI-powered app gives you in-depth insights about any place worldwide, provides a comprehensive description, and recommends local attractions with your personalized travel guide." />
	<HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
	<Routes @rendermode="RenderMode.InteractiveServer" />
	<script src="@Assets["js/leaflet.js"]"></script>
	<script src="@Assets["js/map.js"]"></script>
	<script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
	<script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
