@inherits BaseDialog

<MudDialog>
	<DialogContent>
		@if (place is null || string.IsNullOrWhiteSpace(place.Description))
		{
			<div class="d-flex flex-column align-center">
				<MudProgressCircular Color="Color.Primary" Style="height: 70px; width: 70px;" Indeterminate="true"/>
				<MudText Align="Align.Justify">
					@Translation.LoadingDetails
				</MudText>
			</div>
		}
		else
		{
			@if (place.Images.Count > 0)
			{
				<MudCarousel Class="mud-width-full" ItemsSource="@place.Images" Style="height: 400px;" ShowArrows="true" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="false">
					<PreviousButtonTemplate>
						<div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
							<span class="mud-icon-button-label">
								<MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Inherit"/>
							</span>
						</div>
					</PreviousButtonTemplate>
					<NextButtonTemplate>
						<div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
							<span class="mud-icon-button-label">
								<MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Inherit"/>
							</span>
						</div>
					</NextButtonTemplate>
					<ItemTemplate>
						<MudImage Src="@context" Alt="@place.Name" Height="400" ObjectFit="@ObjectFit.Contain" ObjectPosition="@ObjectPosition.Center" Class="rounded-lg"/>
					</ItemTemplate>
				</MudCarousel>
			}

			<div class="d-flex flex-column align-center">
				<MudRating ReadOnly="true" SelectedValue="@((int)place.Rating)"></MudRating>
			</div>

			<MudContainer Class="mt-4" Style="max-height: 300px; overflow-y: scroll">
				<MudText Align="Align.Justify">
					@place.Description
				</MudText>
			</MudContainer>

			<MudList T="string">
				@foreach (var review in reviews)
				{
					<MudListItem Text="@review.Id.ToString()" SecondaryText="@review.Id.ToString()"/>
					<MudDivider/>
				}
			</MudList>
		}
	</DialogContent>
</MudDialog>